body{
    background-color: rgb(0, 0, 0);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    display: flex;
    flex-wrap: wrap;
    border-style: outset;
    border-color: rgb(95, 103, 126);
    border-width: 5px;
    padding: 14px;
    border-radius: 10px;
    background-color: rgb(20, 21, 24);
    width: 260px;
    height: 340px;
}
textarea{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(24, 23, 23);
    background-color: rgb(161, 189, 173);
    border-radius: 5px;
    text-align: end;
    font-size: 26pt;
    outline: none;
    resize: none;
    margin-bottom: 30px;
    width: 247px;
    height: 40px;
    border-color: rgb(63, 68, 83);
    border-width: 4px;
    border-style:inset;
}

.botoes{
    width: 200px;
    height: 240px;
   
    display: flex;
    align-items: center;
    flex-wrap:wrap;
   
}
.botao-comando{
    border-width: 3px;

    border-color: rgb(129, 129, 9);
    border-style:outset;
    border-radius: 4px;
    background-color: rgb(230, 230, 11);
    font-weight: 600;
    font-size: 16pt;
    font-family:Arial, Helvetica, sans-serif;
    width: 60px;
    height: 40px;
    margin-left: 5px;
    transition: all 0.1s ease;
}
.botao-comando:active{
    background-color: rgb(149, 151, 5);
}
#somar{
    height: 90px; background-color: aqua; border-color: rgb(7, 119, 119) ;
}
#somar:active{
    background-color: rgb(7, 119, 119);
}
.botoes-opcao{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 60px;
    height: 240px;
   
}
footer{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(157, 168, 179);
    margin-top: 30px;
    
}
button{
    margin: 2px;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(30, 3, 139);
    transition: all 0.3s ease;
}
a{
    font-size: 12pt;
    color: rgb(227, 231, 235);
    text-decoration: none;
    
}
button:hover{
    margin: 8px;
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 1px rgb(92, 90, 90);
}